#about-page {
    position: absolute;
    top: 100%;
    /* background: #FF95A8; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#about-me {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* margin: 25vh auto; */
    width: 50vw;
    background: white;
    z-index: 1;
}

#about-me-border {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 90%;
    border: 2px solid #FFDF82;
    margin: 2.5% auto;
    z-index: 1;
}

#about-me-header {
    font-family: 'Dosis', sans-serif;
    font-size: 250%;
    color: #FF95A8;
    letter-spacing: 3px;
    margin: 5% 0;
}

#about-content {
    font-family: 'Dosis', sans-serif;
    font-size: 175%;
    color: #AF6CB3;
    margin: 0 2.5% 7.5% 2.5%;
}

p span {
    margin-left: 5%;
}

p br {
    margin-left: 5%;
}

#portfolio-page {
    position: absolute;
    top: 200%;
    height: 100%;
    width: 100%;
}

#portfolio-header-container {
    position: relative;
    height: 20vh;
    width: 50vw;
    background-color: white;
    margin: 15vh auto 5vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#portfolio-border {
    height: 85%;
    width: 95%;
    border: 2px solid #FFDF82;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#portfolio-header {
    font-family: 'Dosis', sans-serif;
    font-size: 250%;
    color: #FF95A8;
    letter-spacing: 3px;
    margin: 5% 0;
}

.portfolio-cards {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 25px;
    /* grid-auto-rows: minmax(30vh 50vh); */
    align-items: flex-start;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    margin: 7.5% auto;
    z-index: 1;
}

.card {
    background-color: white;
    width: 85%;
    height: 100%;
    border-radius: 5px;
    margin: 0 auto;
}

.portfolio-card {
    height: 100%;
}

.card-img-top {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
}

.card-title {
    font-family: 'Dosis', sans-serif;
    font-size: 150%;
    color: #FF95A8;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 5%;
}

.card-text {
    font-family: 'Dosis', sans-serif;
    font-size: 110%;
    color: #AF6CB3;
    text-align: center;
    letter-spacing: 2px;
    padding: 2.5% 0;
}

.button {
    background-color: #AF6CB3;
    border-radius: 2.5px;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 125%;
    text-transform: uppercase;
    padding: 2% 4%;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
}

.button:hover {
    transform: scale(1.05);
    background: #FF95A8;
    color: white;
    text-decoration: none;
}

#contact-page {
    position: absolute;
    top: 325vh;
    height: 100%;
    width: 100%;
}

#contact-container {
    position: relative;
    margin: 30vh auto 30vh auto;
    width: 50vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.contact-row {
    width: 100%;
    height: 100%;
}

#contact-border {
    width: 95%;
    height: 90%;
    border: 2px solid #FFDF82;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 2.5% auto;
}

#contact-header {
    font-family: 'Dosis', sans-serif;
    font-size: 250%;
    text-transform: uppercase;
    color: #FF95A8;
    margin-bottom: 7.5%;
    letter-spacing: 3px;
}

#contact-body {
    font-family: 'Dosis', sans-serif;
    font-size: 175%;
    color: #AF6CB3;
    margin: 0 5%;
}